# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
*.log
.env

# Local DB & uploaded files (hech qachon git'ga qo'shilmasin)
data/db.sqlite3
data/db.sqlite3-shm
data/db.sqlite3-wal
data/db.sqlite3*
data/backups/
data/uploads/

# OS
.DS_Store
Thumbs.db
